<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Madicento Admin</title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="assets/css/mdb.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.8.0/css/bootstrap-datepicker.css ">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap.min.css">
</head>

<body class="fixed-sn black-skin">

    <!--Double navigation-->
    <header>
        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav sn-bg-4 fixed">
            <ul class="custom-scrollbar">
                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a href="/"><img src="assets/img/resize-logo.png" class="img-fluid flex-center"></a>
                    </div>
                </li>
                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <% if(active == 'index') { %>
                        <li class="active">
                            <% } %>
                            <a href="/" class="collapsible-header waves-effect active"><i class="fa fa-home"></i>
                                Dashboard</a>
                        </li>
                        <% if(active == 'history') { %>
                        <li class="active">
                            <% } %>
                            <a href="/history" class="collapsible-header waves-effect active"><i class="fa fa-history"></i>
                                Hostory</a>
                        </li>
                        <% if(active == 'inventory') { %>
                        <li class="active">
                            <% } %>
                            <a href="/inventory" class="collapsible-header waves-effect active"><i class="fa fa-cart-arrow-down"></i>
                                Inventory</a>
                        </li>
                        <% if(active == 'marketing') { %>
                        <li class="active">
                            <% } %>
                            <a href="/marketing" class="collapsible-header waves-effect active"><i class="fa fa-envelope"></i>
                                Marketing</a>
                        </li>
                        <li><a href="" class="collapsible-header waves-effect"><i class="fa fa-medkit"></i>
                                Pharmacies</a>
                        </li>
                        <li><a class="collapsible-header waves-effect arrow-r"><i class="fa fa-user-plus"></i>
                                Add Members<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul class="list-unstyled">
                                    <li><a href="#" class="waves-effect">Add Retailer</a>
                                    </li>
                                    <li><a href="#" class="waves-effect">Add Distributor</a>
                                    </li>
                                    <li><a href="#" class="waves-effect">Add Sales Person</a>
                                    </li>
                                    <li><a href="#" class="waves-effect">Add Delivery Person</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->
            </ul>
            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav">
            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i> Medicento</a>
            </div>
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!-- /.Navbar -->
    </header>
    <!--/.Double navigation-->