<% include header.ejs %>

<!--Main layout-->
<main>
    <div class="row" style="margin-left: 10px;">
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Orders
                    </div>
                    <div class="card-text">
                        1
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">
                        Orders
                    </div>
                    <div class="card-text">
                        1
                    </div>
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">

                    </div>
                    <div class="card-text">

                    </div> 
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                        <div class="card-title">

                            </div>
                            <div class="card-text">
        
                            </div>         
                </div>
            </div>
        </div>
        <div class="col-auto col-lg-3 col-md-4 col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                        <div class="card-title">

                            </div>
                            <div class="card-text">
        
                            </div> 
                        </div>
            </div>
        </div>
        <div class="col-auto col-lg-3  col-md-4 col-sm-6 mb-2">
            <div class="card">
                <div class="card-body">
                    <div class="card-title">

                    </div>
                    <div class="card-text">
        
                    </div> 
                </div>
            </div>
        </div>
    </div>
</main>
<!--/Main layout-->
<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="assets/js/jquery-3.3.1.min.js"></script>

<!-- Tooltips -->
<script type="text/javascript" src="assets/js/popper.min.js"></script>

<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="assets/js/bootstrap.min.js"></script>

<!-- MDB core JavaScript -->
<script type="text/javascript" src="assets/js/mdb.min.js"></script>
<script>
    // SideNav Initialization
    $(".button-collapse").sideNav();
    new WOW().init();
</script>

</body>

</html>